@font-face {
  font-family: "Feura Sans";
  font-weight: normal;
  src: url("../typefaces/FeuraSans-Regular.ttf");
}

@font-face {
  font-family: "Feura Sans";
  font-weight: bold;
  src: url("../typefaces/FeuraSans-Bold.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: normal;
  src: url("../typefaces/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: bold;
  src: url("../typefaces/FiraSans-Bold.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  src: url("../typefaces/FiraSans-Medium.ttf");
}


@font-face {
  font-family: "Source Sans Pro";
  font-weight: normal;
  src: url("../typefaces/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  src: url("../typefaces/SourceSansPro-Semibold.ttf");
}
